# hide sensitive data
app\src\main\java\fhkufstein\ac\at\ernestorun\Classes\Constants.java

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
